#body {
  background-image: linear-gradient(-65deg, black, rgb(49, 1, 1));
}

h1 {
  background: -webkit-linear-gradient(pink, blue, rgb(1, 70, 1));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  color: green;
}

#card {
  background-image: linear-gradient(45deg, red, orange, yellow);
  margin: 5px;
  border-radius: 6px;
}
#dataCard {
  background-image: linear-gradient(45deg, black, red, orange, yellow);
  margin: 5px;
  border-radius: 6px;
  opacity: 0.8;
}

#title {
  background: -webkit-linear-gradient(-65deg, black, rgb(41, 0, 0));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
